:root {
  --main-color: #0093a1;
  --secondary-color: #b9c400;
  --dark-color: #262c27;
  --main-font: "Inter", sans-serif;
  --secondary-font: "Comfortaa", cursive;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Comfortaa", cursive;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262c27;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  background-image: url(../images/forest.svg);
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(47%);
  z-index: 3;
}

.header::after {
  content: "";
  position: absolute;
  background-image: url(../images/forest.svg);
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(90%) rotate(180deg);
  z-index: 3;
}

.header__top {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: flex-end;
  padding: 57px 0;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: var(--dark-color);
  cursor: pointer;
}

.logo path {
  transition: fill 0.3s ease;
}

.logo:hover path {
  fill: #0093a1;
  transition: fill 0.3s ease;
}

.header__btn {
  text-transform: uppercase;
  box-sizing: border-box;
  transition: fill 0.3s ease;
  color: white;
  width: 193px;
  height: 43px;
  background-color: var(--dark-color);
  padding: 12px 77px 9px 71px;
  border: none;
}

.header__btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--dark-color);
  transition: fill 0.3s ease;
}

.header__phone {
  cursor: pointer;
  transition: transform 0.3s;
}

.header__phone:hover {
  transform: scale(1.1);
}

.header__content {
  min-height: calc(100vh - 157px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header__content-box {
  max-width: 550px;
  text-align: center;
  color: #ffff;
  margin-right: 30px;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.header__title {
  font-size: 64px;
  line-height: 71px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header__text {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 20px;
}

.header__decor-text {
  position: absolute;
  bottom: -20px;
  color: var(--main-color);
  z-index: 4;
}

.header__decor-text--first,
.header__decor-text--second {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 130px;
  opacity: 0.3;
}

.header__decor-text--first {
  max-width: 345px;
  right: 145px;
  bottom: 120px;
  z-index: 2;
}
.header__decor-text--second {
  max-width: 345px;
  left: 265px;
  z-index: 4;
  bottom: 0;
}

.header__decor-text--third {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  color: var(--main-color);
  line-height: 39px;
  max-width: 360px;
  right: 145px;
  z-index: 4;
  font-style: italic;
}
