:root {
  --main-color: #0093a1;
  --secondary-color: #b9c400;
  --dark-color: #262c27;
  --main-font: "Inter", sans-serif;
  --secondary-font: "Comfortaa", cursive;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul[class] {
  list-style: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--dark-color);
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-image: url("../images/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  background-image: url(../images/forest.svg);
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(47%);
  z-index: 3;
}

.header::after {
  content: "";
  position: absolute;
  background-image: url(../images/forest.svg);
  bottom: 0;
  left: 0;
  right: 0;
  height: 456px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(90%) rotate(180deg);
  z-index: 3;
}

.header__top {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: flex-end;
  padding: 57px 0;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: var(--dark-color);
  cursor: pointer;
}

.logo path {
  transition: fill 0.3s ease;
}

.logo:hover path {
  fill: #0093a1;
  transition: fill 0.3s ease;
}

.header__btn {
  text-transform: uppercase;
  box-sizing: border-box;
  transition: all 0.3s;
  color: white;
  width: 193px;
  height: 43px;
  background-color: var(--dark-color);
  padding: 12px 77px 9px 71px;
  border: none;
}

.header__btn:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  color: var(--dark-color);
}

.header__phone {
  cursor: pointer;
  transition: transform 0.3s;
}

.header__phone:hover {
  transform: scale(1.1);
}

.header__content {
  min-height: calc(100vh - 157px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.header__content-box {
  max-width: 550px;
  text-align: center;
  color: #ffff;
  margin-right: 30px;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.header__title {
  font-size: 64px;
  line-height: 71px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header__text {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 20px;
}

.header__decor-text {
  position: absolute;
  bottom: -20px;
  color: var(--main-color);
  z-index: 4;
}

.header__decor-text--first,
.header__decor-text--second {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 130px;
  opacity: 0.3;
}

.header__decor-text--first {
  max-width: 345px;
  right: 145px;
  bottom: 120px;
  z-index: 2;
}
.header__decor-text--second {
  max-width: 345px;
  left: 265px;
  z-index: 4;
  bottom: 0;
}

.header__decor-text--third {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  color: var(--main-color);
  line-height: 39px;
  max-width: 360px;
  right: 145px;
  z-index: 4;
  font-style: italic;
}

.info {
  background-image: url("../images/info_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 180px;
}
.info::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  background-color: #262c27;
  height: 180px;
  transform: translateY(-180px);
  z-index: 1;
}

.info__top {
  display: flex;
  gap: 85px;
  margin-bottom: 70vh;
}

.info__top-text {
  padding-top: 335px;
  color: white;
  width: 290px;
  position: relative;
}

.info__top p:nth-child(1) {
  padding-bottom: 125px;
}

.info__top p:nth-child(2)::after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #ffff;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(30px);
}

.popup-btn {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: #ffff;
  align-items: center;
  gap: 12px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  transition: all 0.5s;
}

.info-btn {
  line-height: 22px;
  bottom: 0;
  right: 0;
  transform: translateY(35px);
}

.popup-btn:hover path {
  fill: var(--secondary-color);
}

.popup-btn:hover circle {
  stroke: var(--secondary-color);
}

.popup-btn:hover span {
  color: var(--main-color);
}

.info__top-img {
  position: relative;
  z-index: 6;
  top: 75px;
}

.info__specs {
  display: flex;
  align-items: center;
  gap: 140px;
  padding-bottom: 50px;
}

.info__specs-title {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 60px;
  line-height: 67px;
  color: #ffff;
  text-transform: uppercase;
  width: 250px;
}

.info__specs-list {
  border-top: 1px solid #ffff;
  border-bottom: 1px solid #ffff;
  padding: 30px 0 15px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-transform: uppercase;
  width: 565px;
}

.info__specs-item {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
}

.info__specs-caption {
  width: 185px;
}

.buy {
  padding: 150px 0;
}

.buy__inner {
  display: flex;
  align-items: center;
  gap: 90px;
}

.buy__content {
  width: 510px;
  position: relative;
}

.buy__title {
  font-family: var(--secondary-font);
  color: var(--main-color);
  font-size: 60px;
  font-weight: 400;
  line-height: 67px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.buy__list {
  padding: 0;
  font-family: var(--main-font);
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 25px;
}

.buy__item:hover .buy__item-title {
  color: #0093a1;
}

.buy__item {
  width: 292px;
  margin-bottom: 25px;
  cursor: pointer;
}

.buy__item-title {
  margin-bottom: 5px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.buy__item-text {
  font-weight: 400;
}

.buy_price {
  position: absolute;
  width: 201px;
  height: 199px;
  background-image: url("../images/star.svg");
  background-position: center;
  font-size: 35px;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: var(--dark-color);
  cursor: pointer;
  right: 0;
  bottom: 120px;
  transition: all 0.3s;
}
.buy_price:hover {
  transform: scale(1.25);
  font-size: 40px;
}

.buy__btn {
  max-width: 484px;
  width: 100%;
  border: 2px solid var(--main-color);
  font-family: var(--secondary-font);
  text-transform: uppercase;
  background-color: transparent;
  font-weight: 700;
  font-size: 40px;
  padding: 18px;
  color: var(--main-color);
  cursor: pointer;
  transition: all 0.3s;
  box-sizing: border-box;
}

.buy__btn:hover {
  background-color: var(--secondary-color);
  color: black;
  border-color: var(--secondary-color);
}

.technology__top {
  background-image: url("../images/technology_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.technology__top-inner {
  position: relative;
  min-height: 110vh;
}

.technology-btn {
  top: 50vh;
  right: 356px;
}

.technology__top-info {
  position: absolute;
  left: 0;
  bottom: 85px;
}

.technology__title {
  font-family: var(--secondary-font);
  font-size: 60px;
  line-height: 67px;
  color: var(--dark-color);
  width: 470px;
  margin-bottom: 62px;
  font-weight: 400;
}

.technology__list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.technology__list-item {
  margin-bottom: 15px;
  padding-left: 24px;
}

.gallery__box {
  position: relative;
  padding-top: 115px;
  display: flex;
  gap: 68px;
}

.gallery__text {
  width: 350px;
}

.gallery-min {
  display: grid;
  gap: 30px;
  grid-template-columns: 481px 208px;
  grid-template-rows: 432px 300px;
  padding: 72px 32px 53px;
  position: relative;
  margin-top: -38%;
  margin-bottom: 150px;
}
.gallery-min::before {
  content: "";
  position: absolute;
  border: 3px solid var(--dark-color);
  border-radius: 200px 0px 300px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.gallery-min__img--1 {
  grid-column: 1/3;
  border-radius: 402px 0px 0px 0px;
}

.gallery-min__img--2 {
  border-radius: 0px 0px 0px 300px;
}

.gallery-max {
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 469px 391px;
  grid-template-rows: 340px 270px 270px;
  margin-bottom: 150px;
}

.gallery-max__text {
  box-sizing: border-box;
  width: 300px;
  height: 270px;
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  background: var(--main-color);
  color: #ffff;
  text-align: center;
  padding: 96px 50px;
  border: 1px solid var(--main-color);
  border-radius: 0px 0px 0px 200px;
  font-style: italic;
}

.gallery-max__img--1 {
}
.gallery-max__img--2 {
  grid-column: 2/-1;
  justify-self: end;
  border-radius: 0px 500px 0px 0px;
}
.gallery-max__img--3 {
  border-radius: 0px 0px 150px 0px;
}
.gallery-max__img--4 {
  border-radius: 0px 200px 0px 0px;
}
.gallery-max__img--5 {
  border-radius: 200px 0px 0px 0px;
}

.gallery-max__img--6 {
  grid-column: 2/-1;
  border-radius: 0px 0px 0px 400px;
}

.footer {
  padding: 100px 0 80px;
  background-color: var(--dark-color);
  color: #fff;
}

.footer__top {
  display: flex;
  justify-content: space-between;
}

.footer__form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.footer__form-title {
  font-family: var(--secondary-font);
  font-size: 60px;
  line-height: 67px;
  width: 424px;
  margin-bottom: 27px;
}

.footer__form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  margin-bottom: 50px;
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #fff;
}
.footer__form-input:focus {
  outline: none;
}
.footer__form-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  opacity: 0.4;
}

.footer__form-btn {
  width: 193px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  padding: 10px 66px;
  margin-bottom: 110px;
  text-transform: uppercase;
  color: #000000;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: scale 0.6s;
}

.footer__form-btn:hover {
  background-color: var(--main-color);
  scale: calc(1.1);
}

.footer__logo {
  transform: translateY(-13px);
}

.footer__logo a {
  width: 100%;
  height: 100%;
}
.footer__logo path {
  transition: fill 0.3s;
}

.footer__logo svg:hover path {
  fill: var(--main-color);
}

.footer__social-title {
  margin-bottom: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.footer__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 52px;
  margin-bottom: 48px;
}

.footer__gallery-item {
  transition: all 0.3s;
}
.footer__gallery-item:hover {
  transform: scale(1.05);
}

.footer__menu {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  padding: 0;
}

.footer__menu-item {
  transition: all 0.3s;
}
.footer__menu-item:hover {
  transform: scale(1.1);
  color: var(--main-color);
}

@media (max-width: 1230px) {
  .header__top {
    justify-content: end;
  }

  .header__decor-text--second {
    left: 0;
  }
  .buy__inner {
    flex-wrap: wrap;
    justify-content: center;
  }

  .buy__img {
    order: -1;
    max-width: 100%;
  }

  .buy__content {
    width: 80%;
  }

  .buy_price {
    pointer-events: none;
  }

  .gallery__box {
    flex-wrap: wrap;
  }
  .gallery__text {
    width: 100%;
  }
  .gallery-min {
    margin-top: 0;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
  }
  .gallery-min__img {
    width: 100%;
    align-self: stretch;
  }
  .gallery-max {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    width: 100%;
    gap: 10px;
  }
  .gallery-max__img {
    width: 100%;
    align-self: stretch;
  }

  .footer__gallery-item {
    width: 100%;
    align-self: stretch;
  }
}

@media (max-width: 1000px) {
  .info__top {
    display: block;
  }

  .info__top-text {
    width: 100%;
    padding-top: 230px;
    text-align: center;
  }

  .info__top p:nth-child(1) {
    padding-bottom: 50px;
  }

  .info__top p:nth-child(2) {
    padding-top: 10px;
  }

  .info-btn {
    position: static;
    margin: 0 auto;
  }

  .info__top-img {
    display: block;
    width: 227px;
    margin: 0 auto;
  }

  .info__specs {
    display: block;
  }
  .footer__top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__logo {
    order: -1;
    margin-bottom: 50px;
  }
  .footer__social-title {
    text-align: center;
  }
  .footer__gallery {
    gap: 25px;
  }

  .footer__menu {
    display: block;
    text-align: center;
  }
  .footer__menu-item {
    padding: 15px 0;
  }
}

@media (max-width: 720px) {
  .header__content-box {
    margin-right: 0;
  }

  .header__top {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 90px;
  }

  .header__btn {
    width: 75%;
  }

  .technology-btn {
    top: 50vh;
    left: 50vw;
  }

  .gallery-max {
    display: none;
  }
  .footer__gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .info__top {
    margin-bottom: 20vh;
  }
  .info__specs-list {
    width: 100%;
  }
  .info__specs-item {
    display: block;
  }
  .buy_price {
    bottom: auto;
    top: -350px;
  }

  .buy__title,
  .info__specs-title,
  .technology__title,
  .footer__form-title {
    font-size: 48px;
    line-height: 56px;
  }

  .gallery-min {
    padding: 20px 10px 20px;
  }

  .technology-btn {
    top: 50vh;
    left: 50vw;
  }
}

@media (max-width: 500px) {
  .buy_price {
    height: 168px;
    width: 170px;
    background-size: cover;
    bottom: auto;
    top: -185px;
  }
  .technology__title {
    font-size: 34px;
    line-height: 54px;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 414px) {
  .header__decor-text {
    display: none;
  }
  .header__text {
    font-size: 20px;
    line-height: 20px;
  }
  .header__content {
    z-index: 5;
  }
  .gallery-min {
    gap: 10px;
  }
  .gallery-min::before {
    display: none;
  }

  .footer__form-title {
    width: 100%;
    font-size: 34px;
    line-height: 40px;
  }
  .footer__logo {
    width: 90%;
    margin-bottom: 0;
  }
  .footer__logo svg {
    width: 90%;
  }
}

@media (max-width: 375px) {
  .header__title {
    font-size: 55px;
    line-height: 60px;
  }
  .buy__item {
    max-width: 100%;
  }
}
